[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-login = "*"
black = "*"
invoke = "*"
flask-migrate = "*"
flask-moment = "*"
jwt = "*"
requests = "*"
python-dotenv = "*"
flask-testing = "*"
"nose2" = "*"
coverage = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
