body {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  font-size: 0.8125rem;
  line-height: 1.26666667;
}

hr {
  border: none;
  color: #f1f1f1;
  background-color: #f1f1f1;
  height: 1px;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
  max-width: 1080px;
}

.content {
  padding: 0 5px;
  margin-top: 25px;
}

.main {
  box-sizing: border-box;
  float: left;
  width: 65%;
}

.sidebar {
  box-sizing: border-box;
  float: right;
  width: 30%;
}

.header {
  height: 20px;
  padding: 0 4px;
}

.rightheader {
  float: right;
}

.leftheader {
  float: left;
}

.bg {
  margin-top: 15px;
}

.row {
  border: 1px solid #f1f1f1;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}

.field {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.row a, .title a, .user-detail a {
  color: #e74c3c;
  text-decoration: none;
}

.button {
  padding: 10px;
  background-color: #e74c3c;
  color: #f1f1f1;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}

.question {
  margin-top: 15px;
  padding: 0 8px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.feedback {
  margin-top: 15px;
  padding: 0 8px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.answer {
  margin: 5px 0;
  padding: 0 5px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.detail {
  display: grid;
  grid-template-columns: 33% 33% 34%;
  font-size: 0.75rem;
  color: #828282;
}

.user-detail, .feedback-detail {
  text-align: right;
}

.trending {
  display: grid;
  grid-template-columns: 15% 85%;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.trending .title {
  padding: 3px;
}

.trending .stat {
  padding: 3px;
  text-align: center;
  color: #ffffff;
  background-color: #5fba7d;
  border-radius: 3px;
}
