{% extends '/layout/application.html' %}

{% block content %}
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      <div class="form-comp">{{ form.title.label }}</div>
      <div class="form-comp">{{ form.title(size=75, class="field") }}</div>
      {% for error in form.title.errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-group">
      <div class="form-comp">{{ form.messages.label }}</div>
      <div class="form-comp">{{ form.messages(cols=80, rows=6, class="field") }}</div>
      {% for error in form.messages.errors %}
      <div class="error">{{ error }}</div>
      {% endfor %}
    </div>

    <div class="form-comp">{{ form.submit(class="button") }}</div>
  </form>
{% endblock %}
